@page
@model Torneo.App.Frontend.Pages.Jugadores.DetailsModel
@{
}
<h5 class="display-5">Detalle del Jugador</h5>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.jugador.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.jugador.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Numero</th>
        <td>@Model.jugador.Numero</td>
    </tr>
    <tr>
        <th scope="col">Equipo</th>
        <td>@Model.jugador.Equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Posicion</th>
        <td>@Model.jugador.Posicion.Nombre</td>
    </tr>
     
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>

